// variables

// font
$font-weight-general: 400px;

// nav fonts
$font-size-nav : 15px;

// font size

$font-size-h1: 150px;


// font size mobile 
$font-size-menu-text: 14px;
$font-size-nav-movil : 16px;
$font-size-h1-movil: 70px;

// font size tablet 
$font-size-nav-tablet : 13px;
$font-size-h1-tablet: 110px;