@use "../utilities/mixins";
@use "../utilities/variables";

.navbar-toggler .button-style {
  transition: transform 0.3s ease;
}

.navbar-toggler:not(.collapsed) .button-style {
  transform: rotate(180deg); // flecha hacia arriba
}

.container-fluid {
  background-color: white; /* color inicial */
  transition: background-color 0.1s ease; /* transición suave */
}

.button-style{
    .navbar-toggler{
        border: none;
    }
}
.navbar-toggler {
  border: none;               /* Quita borde */
  background: transparent;    /* Fondo transparente siempre */
  padding: 0.5rem 1rem;        /* Ajusta espacio interno */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;           /* Quita el halo azul feo */
  background: transparent;    /* Evita que se pinte al presionar */
}

.navbar-toggler.collapsed {
  background: transparent;    /* También cuando está colapsado */
}

/* Cuando el menú está abierto */
.container-fluid:has(.collapse.show) {
  .logo-nav {
    fill: #ffffff;
  }
  .navbar-toggler {

    .menu-text {
      color: white;
    }
    .button-style {
      fill: #ffffff;
    }
  }
  background-color: #0000ff; /* color al abrir */
  .nav-link {
    color: #ffffff;
  }
  .navbar {
    position: relative;
    z-index: 10;
  }
}
